<div class="flex items-center justify-center">

  <div class="m-20 p-20 shadow-md rounded-md">

    <!-- Container header -->
    <div class="flex flex-col justify-items-center items-center mb-4">
      <p class="text-lg">Log in to continue to:</p>
      <p class="text-lg font-bold">Your team's site</p>
    </div>

    <!-- Login form start -->
    <div>
      <input
        class="basic-text-input"
        type="text"
        placeholder="Email">

      <input
        class="basic-text-input"
        type="text"
        placeholder="Password">

      <!-- Login form end -->
      <button class="btn btn-shadow primary w-full">Continue</button>
      <button class="btn btn-shadow primary w-full">Login</button>
    </div>


    <hr>

    <a>Can't Login?</a>
    <span></span>
    <a>Sign up for an account</a>

  </div>
</div>
