<div
  class="p-3 m-1 bg-white shadow cursor-move rounded-md hover:bg-gray-200 transition-all ease-in-out"
>
  <h6>{{ item.title }}</h6>
  <div class="flex items-center justify-between mt-4">
    <div class="flex flex-row start space-x-2">
      <div class="issue-type">
        <div *ngIf="item.issueType === 'STORY'">
          <img src="./assets/images/icons/user_story.svg" alt="story icon" />
        </div>
        <div *ngIf="item.issueType === 'EPIC'">
          <img src="./assets/images/icons/epic.svg" alt="epic icon" />
        </div>
        <div *ngIf="item.issueType === 'TASK'">
          <img src="./assets/images/icons/task.svg" alt="task" />
        </div>
        <div *ngIf="item.issueType === 'SUB-TASK'">
          <img src="./assets/images/icons/subtask.svg" alt="sub task" />
        </div>
        <div *ngIf="item.issueType === 'BUG'">
          <img src="./assets/images/icons/bug.svg" alt="bug" />
        </div>
      </div>
      <div class="flex priority">
        <div class="flex">
          <i
            class="text-md"
            [class]="getPriorityClass(item)"
            nz-icon
            [nzType]="
              item.priority === 'HIGHEST' || item.priority === 'HIGH'
                ? 'up'
                : 'down'
            "
            nzTheme="outline"
          ></i>
        </div>
      </div>
    </div>
    <div class="flex end space-x-2">
      <div>
        <p>{{ item.ticketKey }}</p>
      </div>
      <div>
        <div
          class="flex items-center justify-center w-4 h-4 p-3 bg-green-700 rounded-full cursor-pointer user-avatar"
        >
          <span class="font-semibold text-white">{{ item.assignedTo[0] }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
