<div class="w-full h-full">
  <header class="pl-4 h-14">
    <nav class="flex items-center h-full mr-4 space-x-2">
      <div class="flex content-center rounded-full cursor-pointer hover-effect">
        <i nz-icon nzType="appstore" nzTheme="fill"></i>
      </div>
      <div class="flex content-center">
        <img
          src="./assets/images/logos/jira-main.svg"
          class="w-32 h-5 text-blue-500 rounded-sm cursor-pointer hover:bg-blue-100 hover:text-blue-600"
          alt="Jira Logo"
        />
      </div>
      <div class="flex flex-row items-center nav-items space-x-4">
        <a class="hover-effect">Your work</a>
        <a
          class="hover-effect"
          nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="projectMenu"
        >
          Projects
          <i nz-icon nzType="down"></i>
        </a>
        <nz-dropdown-menu #projectMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>Project 1</li>
            <li nz-menu-item>Project 2</li>
          </ul>
        </nz-dropdown-menu>
        <a
          class="hover-effect"
          nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="filterMenu"
        >
          Filters
          <i nz-icon nzType="down"></i>
        </a>
        <nz-dropdown-menu #filterMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>Filter by priority</li>
            <li nz-menu-item>Setup custom filter</li>
          </ul>
        </nz-dropdown-menu>
        <a
          class="hover-effect"
          nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="dashboardMenu"
        >
          Dashboards
          <i nz-icon nzType="down"></i>
        </a>
        <nz-dropdown-menu #dashboardMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>No dashboard avaliable</li>
          </ul>
        </nz-dropdown-menu>
        <a
          class="hover-effect"
          nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="peopleMenu"
        >
          People
          <i nz-icon nzType="down"></i>
        </a>
        <nz-dropdown-menu #peopleMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>Jay Tailor</li>
          </ul>
        </nz-dropdown-menu>
        <a
          class="hover-effect"
          nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="appsMenu"
        >
          Apps
          <i nz-icon nzType="down"></i>
        </a>
        <nz-dropdown-menu #appsMenu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>Slack</li>
            <li nz-menu-item>GitHub</li>
            <li nz-menu-item>GitLabs</li>
          </ul>
        </nz-dropdown-menu>
        <button nz-button nzType="primary" class="font-bold">Create</button>
      </div>
      <div class="flex flex-grow"></div>
      <div class="flex flex-row items-center flex-none space-x-4">
        <div class="relative flex flex-col items-center w-48 h-8 p-1">
          <i nz-icon nzType="search" class="absolute left-3 top-3"></i>
          <input
            class="w-full p-1 pl-8 text-black rounded-sm outline-none ring-1 ring-gray-300 focus:ring-2 focus:ring-blue-600 hover:bg-gray-200"
            type="text"
            placeholder="Search"
          />
        </div>
        <div
          class="flex content-center text-lg rounded-full cursor-pointer hover-effect transform rotate-45"
        >
          <i nz-icon nzType="bell" nzTheme="fill"></i>
        </div>
        <div
          class="flex content-center text-lg rounded-full cursor-pointer hover-effect"
        >
          <i nz-icon nzType="question-circle" nzTheme="fill"></i>
        </div>
        <div
          class="flex content-center text-lg rounded-full cursor-pointer hover-effect"
        >
          <i nz-icon nzType="setting" nzTheme="fill"></i>
        </div>
        <div class="flex items-center content-center">
          <div
            class="justify-center w-8 h-8 p-1 font-bold text-center text-gray-200 bg-green-700 rounded-full cursor-pointer"
          >
            <span>J</span>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="h-1 bg-gradient-to-t from-gray-200 to-white"></div>

  <div
    class="flex transition-all"
    [class]="isSidebarOpen ? 'ml-72' : 'ml-2'"
    style="height: calc(100% - 60px)"
  >
    <div class="h-full bg-gray-300">
      <div class="w-0.5 relative">
        <div
          class="absolute flex p-1 text-black bg-gray-100 rounded-full shadow-md cursor-pointer hover:bg-blue-600 hover:text-white -left-2 top-7 ring-1"
          (click)="toggleSidebar()"
        >
          <i
            class=""
            nz-icon
            [nzType]="isSidebarOpen ? 'caret-left' : 'caret-right'"
            nzTheme="outline"
          ></i>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full mx-9">
      <div class="mt-6">
        <app-breadcrumb [items]="breadcrumb"></app-breadcrumb>
      </div>
      <div class="flex justify-between mt-1">
        <h4 class="text-2xl font-semibold">Kanban board</h4>
        <div class="actions">
          <button nz-button nzType="link" class="text-gray-700">
            <i nz-icon nzType="thunderbolt" nzTheme="outline"></i>
          </button>
          <button nz-button nzType="link" class="text-gray-700">
            <i nz-icon nzType="star" nzTheme="outline"></i>
          </button>
          <a
            class="text-gray-700 hover-effect"
            nz-dropdown
            nzTrigger="click"
            [nzDropdownMenu]="releaseMenu"
          >
            Release
            <i nz-icon nzType="down"></i>
          </a>
          <nz-dropdown-menu #releaseMenu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>Create a release</li>
            </ul>
          </nz-dropdown-menu>
          <button nz-button nzType="link" class="text-gray-700">
            <i nz-icon nzType="share-alt" nzTheme="outline"></i>
          </button>
          <button nz-button nzType="link" class="text-gray-700">
            <i nz-icon nzType="ellipsis" nzTheme="outline"></i>
          </button>
        </div>
      </div>
      <div class="flex flex-row mt-2 min-h-14 space-x-6">
        <div class="relative flex flex-col items-center w-48 h-8 p-1">
          <input
            class="w-full p-1 text-black rounded-sm outline-none ring-1 ring-gray-300 focus:ring-2 focus:ring-blue-600 hover:bg-gray-200"
            type="text"
          />
          <i nz-icon nzType="search" class="absolute right-3 top-3"></i>
        </div>
        <div class="flex user-selector -space-x-2">
          <div
            class="flex items-center content-center w-8 h-8 p-3 leading-none text-center bg-green-700 rounded-full cursor-pointer user-avatar ring-2 ring-white transform hover:-translate-y-2 hover:z-10 ease-in-out duration-500"
            *ngFor="let person of ['J', 'A', 'Y', '']"
          >
            <span class="font-semibold text-white">{{ person }}</span>
          </div>
        </div>
        <button nz-button nzType="link" class="ml-5 font-bold text-gray-500">
          Only My Issues
        </button>
        <button nz-button nzType="link" class="font-bold text-gray-500">
          Recently Updated
        </button>
      </div>
      <!-- Board -->
      <div class="mt-6">
        <div class="relative overflow-y-scroll tickets-container">
          <div
            class="sticky top-0 flex flex-row justify-between headers space-x-4"
          >
            <div class="header">
              <div class="inline-block mr-1">BACKLOG</div>
              <span>4</span>
            </div>
            <div class="header">
              <div class="inline-block mr-1">SELECTED FOR DEVELOPMENT</div>
              <span>3</span>
            </div>
            <div class="header">
              <div class="inline-block mr-1">IN PROGRESS</div>
              <span>1</span>
            </div>
            <div class="header">
              <div class="inline-block mr-1">DONE</div>
              <span>0</span>
            </div>
          </div>
          <div class="flex flex-row justify-between board-cols space-x-4">
            <div
              class="flex-1 bg-gray-100 backlog"
              [id]="col.id"
              *ngFor="let col of tickets"
              cdkDropList
              [cdkDropListData]="col.tasks"
              [cdkDropListConnectedTo]="[
                'BACKLOG',
                'SELECTED FOR DEVELOPMENT',
                'IN PROGRESS',
                'DONE'
              ]"
              (cdkDropListDropped)="onTaskDrop($event)"
            >
              <app-ticket-item
                cdkDrag
                *ngFor="let task of col.tasks"
                [item]="task"
              ></app-ticket-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="fixed left-0 flex-shrink-0 top-16 transition-all ease-in-out"
  [class]="isSidebarOpen ? '' : '-left-72'"
>
  <div class="flex flex-row items-center my-4 rounded-md">
    <div class="w-10 p-2 mx-2">
      <img src="./assets/images/projectavatar.svg" alt="projet avatar" />
    </div>
    <div class="detail">
      <p class="font-semibold">Jira-Clone</p>
      <p class="font-thin">Classic software project</p>
    </div>
  </div>
  <div class="overflow-auto" style="height: calc(100% - 75px)">
    <div class="w-72">
      <div class="mx-2 mt-2 items-container">
        <div
          class="flex flex-row items-center mb-2 cursor-pointer rounded-md hover:bg-blue-100"
        >
          <div class="w-2 p-2 mr-6">
            <i class="text-xl" nz-icon nzType="build" nzTheme="outline"></i>
          </div>
          <a href="#">Roadmap</a>
        </div>
        <div
          class="flex flex-row items-center mb-2 text-blue-600 bg-blue-100 cursor-pointer rounded-md"
        >
          <div class="w-2 p-2 mr-6">
            <i
              class="text-xl"
              nz-icon
              nzType="insert-row-above"
              nzTheme="outline"
            ></i>
          </div>
          <a href="#">Kanban board</a>
        </div>
        <div
          class="flex flex-row items-center mb-2 cursor-pointer rounded-md hover:bg-blue-100"
        >
          <div class="w-2 p-2 mr-6">
            <i
              class="text-xl"
              nz-icon
              nzType="line-chart"
              nzTheme="outline"
            ></i>
          </div>
          <a href="#">Reports</a>
        </div>
        <hr />
        <div
          class="flex flex-row items-center my-2 cursor-pointer rounded-md hover:bg-blue-100"
        >
          <div class="w-2 p-2 mr-6">
            <i class="text-xl" nz-icon nzType="inbox" nzTheme="outline"></i>
          </div>
          <a href="#">Issues</a>
        </div>

        <div
          class="flex flex-row items-center mb-2 cursor-pointer rounded-md hover:bg-blue-100"
        >
          <div class="w-2 p-2 mr-6">
            <i class="text-xl" nz-icon nzType="database" nzTheme="outline"></i>
          </div>
          <a href="#">Components</a>
        </div>
        <div
          class="flex flex-row items-center mb-2 cursor-pointer rounded-md hover:bg-blue-100"
        >
          <div class="w-2 p-2 mr-6">
            <i class="text-xl" nz-icon nzType="code" nzTheme="outline"></i>
          </div>
          <a href="#">Code</a>
        </div>

        <div
          class="flex flex-row items-center mb-2 cursor-pointer rounded-md hover:bg-blue-100"
        >
          <div class="w-2 p-2 mr-6">
            <i class="text-xl" nz-icon nzType="tags" nzTheme="outline"></i>
          </div>
          <a href="#">Releases</a>
        </div>
        <div
          class="flex flex-row items-center mb-2 cursor-pointer rounded-md hover:bg-blue-100"
        >
          <div class="w-2 p-2 mr-6">
            <i class="text-xl" nz-icon nzType="folder" nzTheme="outline"></i>
          </div>
          <a href="#">Project pages</a>
        </div>
        <div
          class="flex flex-row items-center mb-2 cursor-pointer rounded-md hover:bg-blue-100"
        >
          <div class="w-2 p-2 mr-6">
            <i class="text-xl" nz-icon nzType="file-add" nzTheme="outline"></i>
          </div>
          <a href="#">Add item</a>
        </div>
        <div
          class="flex flex-row items-center mb-2 cursor-pointer rounded-md hover:bg-blue-100"
        >
          <div class="w-2 p-2 mr-6">
            <i class="text-xl" nz-icon nzType="setting" nzTheme="outline"></i>
          </div>
          <a href="#">Project settings</a>
        </div>
      </div>
    </div>
  </div>
</div>
