<div class="w-full h-full">
  <app-main-header></app-main-header>
  <div
    class="flex transition-all"
    [class]="isSidebarOpen ? 'ml-72' : 'ml-2'"
    style="height: calc(100% - 60px)"
  >
    <div class="h-full bg-gray-300">
      <div class="w-0.5 relative">
        <div
          class="absolute flex p-1 text-black bg-gray-100 rounded-full shadow-md cursor-pointer hover:bg-blue-600 hover:text-white -left-2 top-7 ring-1"
          (click)="toggleSidebar()"
        >
          <i
            class=""
            nz-icon
            [nzType]="isSidebarOpen ? 'caret-left' : 'caret-right'"
            nzTheme="outline"
          ></i>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full mx-9">
      <div class="mt-6">
        <app-breadcrumb [items]="breadcrumb"></app-breadcrumb>
      </div>
      <app-high-level-actions></app-high-level-actions>
      <app-board-quick-actions></app-board-quick-actions>
      <app-main-board></app-main-board>
    </div>
  </div>
</div>

<div
  class="fixed left-0 flex-shrink-0 top-16 transition-all ease-in-out"
  [class]="isSidebarOpen ? '' : '-left-72'"
>
  <div class="flex flex-row items-center my-4 rounded-md">
    <div class="w-10 p-2 mx-2">
      <img src="./assets/images/projectavatar.svg" alt="projet avatar" />
    </div>
    <div class="detail">
      <p class="font-semibold">Jira-Clone</p>
      <p class="font-thin">Classic software project</p>
    </div>
  </div>
  <div class="overflow-auto" style="height: calc(100% - 75px)">
    <div class="w-72">
      <div class="mx-2 mt-2 items-container">
        <div
          class="flex flex-row items-center mb-2 cursor-pointer rounded-md hover:bg-blue-100"
        >
          <div class="w-2 p-2 mr-6">
            <i class="text-xl" nz-icon nzType="build" nzTheme="outline"></i>
          </div>
          <a href="#">Roadmap</a>
        </div>
        <div
          class="flex flex-row items-center mb-2 text-blue-600 bg-blue-100 cursor-pointer rounded-md"
        >
          <div class="w-2 p-2 mr-6">
            <i
              class="text-xl"
              nz-icon
              nzType="insert-row-above"
              nzTheme="outline"
            ></i>
          </div>
          <a href="#">Kanban board</a>
        </div>
        <div
          class="flex flex-row items-center mb-2 cursor-pointer rounded-md hover:bg-blue-100"
        >
          <div class="w-2 p-2 mr-6">
            <i
              class="text-xl"
              nz-icon
              nzType="line-chart"
              nzTheme="outline"
            ></i>
          </div>
          <a href="#">Reports</a>
        </div>
        <hr />
        <div
          class="flex flex-row items-center my-2 cursor-pointer rounded-md hover:bg-blue-100"
        >
          <div class="w-2 p-2 mr-6">
            <i class="text-xl" nz-icon nzType="inbox" nzTheme="outline"></i>
          </div>
          <a href="#">Issues</a>
        </div>

        <div
          class="flex flex-row items-center mb-2 cursor-pointer rounded-md hover:bg-blue-100"
        >
          <div class="w-2 p-2 mr-6">
            <i class="text-xl" nz-icon nzType="database" nzTheme="outline"></i>
          </div>
          <a href="#">Components</a>
        </div>
        <div
          class="flex flex-row items-center mb-2 cursor-pointer rounded-md hover:bg-blue-100"
        >
          <div class="w-2 p-2 mr-6">
            <i class="text-xl" nz-icon nzType="code" nzTheme="outline"></i>
          </div>
          <a href="#">Code</a>
        </div>

        <div
          class="flex flex-row items-center mb-2 cursor-pointer rounded-md hover:bg-blue-100"
        >
          <div class="w-2 p-2 mr-6">
            <i class="text-xl" nz-icon nzType="tags" nzTheme="outline"></i>
          </div>
          <a href="#">Releases</a>
        </div>
        <div
          class="flex flex-row items-center mb-2 cursor-pointer rounded-md hover:bg-blue-100"
        >
          <div class="w-2 p-2 mr-6">
            <i class="text-xl" nz-icon nzType="folder" nzTheme="outline"></i>
          </div>
          <a href="#">Project pages</a>
        </div>
        <div
          class="flex flex-row items-center mb-2 cursor-pointer rounded-md hover:bg-blue-100"
        >
          <div class="w-2 p-2 mr-6">
            <i class="text-xl" nz-icon nzType="file-add" nzTheme="outline"></i>
          </div>
          <a href="#">Add item</a>
        </div>
        <div
          class="flex flex-row items-center mb-2 cursor-pointer rounded-md hover:bg-blue-100"
        >
          <div class="w-2 p-2 mr-6">
            <i class="text-xl" nz-icon nzType="setting" nzTheme="outline"></i>
          </div>
          <a href="#">Project settings</a>
        </div>
      </div>
    </div>
  </div>
</div>
