<header class="header header-root">
  <div class="nav-root">
    <div class="nav-background">
      <div class="row">
        <div class="nav-left">
          <div class="nav-logo">
            <a routerLink="/">
              <img src="./assets/images/logos/Atlassian-horizontal-blue-rgb.svg" alt="atlassian_brand_logo">
            </a>
          </div>
          <div class="links"></div>
          <div class="mobile-links"></div>
        </div>
        <div class="nav-right">
          <div class="links">
            <button routerLink="/auth/login" class="btn btn-shadow primary w-full">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
