<h1 class="text-xl">Form elements</h1>

<br>

<!-- Basic input start -->
<h3 class="text-lg">Basic input</h3>
<section>
  <input
    class="basic-text-input"
    type="text"
    placeholder="placeholder">
</section>
<!-- Basic input end -->

<br>

<!-- Basic button start -->
<h3 class="text-lg">Basic input</h3>
<section>
  <div class="flex flex-col space-y-4">
    <button class="btn btn-shadow">Normal button</button>
    <button class="btn btn-shadow primary">Primary button</button>
    <button class="btn btn-shadow secoundary">Secoundery button</button>
    <button class="btn btn-shadow ternary">Ternary button</button>
    <button class="btn btn-shadow danger">Danger button</button>
    <button class="btn btn-shadow danger" disabled>
      <span class="spinner"></span>Danger button
    </button>
  </div>
</section>
<!-- Basic button end -->

<br>
